<!DOCTYPE html>
<html>
<head>
    <title>Forecast</title>
</head>
<body>
    <h1>Forecast</h1>
    <form method="GET" action="">
        <label for="location">Location:</label>
        <select id="location" name="location">
            {% for location in locations %}
            <option value="{{ location }}">{{ location }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>

    {% if location %}
        <h2>Location: {{ location }}</h2>
        <ul>
            {% include "forecast/templates/{{location}}/잠실역 롯데월드_0703.html" %}
            {% include "forecast/templates/{{location}}/잠실역 롯데월드_0704.html" %}
            {% include "forecast/templates/{{location}}/잠실역 롯데월드_0705.html" %}
            <!-- 필요한 만큼 date.html 파일을 포함시킬 수 있습니다 -->
        </ul>
    {% endif %}
</body>
</html>